{% extends "base.html" %}
{% block head %}
  <link href="{{ url_for('static', filename='css/forms.css') }}" rel="stylesheet" type="text/css">
{% endblock head %}
{% block content %}
    <div class="container-fluid">
        <div class="col-sm-12">
            <a href="/logbud" class="form-signin-heading"><span class="glyphicon glyphicon-eye-open" style="color: rgba(0, 74, 128, .5);"></span>&nbsp;&nbsp;visitors' form</a>
        </div>
        <h1 class="text-center">Log of All Visits</h1>
        {% if activity %}
            <table class="table table-responsive table-hover table-striped">
                <thead class="text-center visitor-log-header">
                    <tr>
                        <th><span class="glyphicon glyphicon-list-alt"></span></th>
                        <th>Firstname</th>
                        <th>Lastname</th>
                        <th>Visiting</th>
                    </tr>
                </thead>
                <tbody>
                    {% for visit in activity %}
                        <tr>
                            <td><a href="/log/{{ visit.visitor.id }}"><span class="glyphicon glyphicon-user"></span></a></td>
                            <td>{{ visit.visitor.firstname }}</td>
                            <td>{{ visit.visitor.lastname }}</td>
                            <td>{{ visit.visiting }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No visitors were ever signed in.!</p>
        {% endif %}
    </div>
{% endblock content %}
