{% extends "base.html" %}
{% block head %}
  <link href="{{ url_for('static', filename='css/forms.css') }}" rel="stylesheet" type="text/css">
{% endblock head %}
{% block content %}
  <div class="container">
    <div class="col-sm-12">
    <h1 class="text-center form-signin-heading">Sign In Visitor</h1>
    </div>
    <form action="" method="post" name="visitor-login" class="form-signin">
      {{ form.csrf_token }}
      <div class="form-group row form-group-lg">
        {{ form.firstname.label(class="col-form-label-lg sr-only", for="firstname") }}
        <div class="col-sm-12">
          {{ form.firstname(size=80, class="form-control form-control-lg input-lg", placeholder="First Name")}}
        </div>
      </div>
      <div class="form-group row form-group-lg">
        {{ form.lastname.label(class="col-form-label-lg sr-only", for="lastname") }}
        <div class="col-sm-12">
          {{ form.lastname(size=80, class="form-control form-control-lg input-lg", placeholder="Last Name")}}
        </div>
      </div>
      <div class="form-group row form-group-lg">
          {{ form.visiting.label(class="col-form-label col-form-label-lg sr-only", for="visiting") }}
        <div class="col-sm-12">
          {{ form.visiting(size=80, class="form-control form-control-lg input-lg", placeholder="Visiting") }}
        </div>
      </div>
      <div class="form-group row form-group-lg">
        {{ form.purpose.label(class="col-form-label col-form-label-lg sr-only", for="purpose") }}
        <div class="col-sm-12">
          {{ form.purpose(size=80, class="form-control form-control-lg input-lg", placeholder="Reason for visit") }}
        </div>
      </div>
      <div class="form-group row form-control-lg">
        <div class="col-sm-12">
          <button type="submit" id="submit-login" class="btn btn-lg btn-primary btn-block">LOGIN</button>
        </div>
      </div>
    </form>
  </div>
{% endblock %}
