{% extends "base.html" %}
{% block head %}
  <link href="{{ url_for('static', filename='css/forms.css') }}" rel="stylesheet" type="text/css">
  <style>
    label, input {
      letter-spacing: 2px;"
    }
  </style>
{% endblock head %}
{% block content %}
  <div class="container">
    <div class="col-sm-12">
    <h1 class="text-center">Logger Sign In</h1>
    </div>
    <form action="" method="post" name="login">
      {{ form.csrf_token }}
      <div class="form-group row form-control-lg">
        {{ form.email.label(class="col-sm-2 col-form-label col-form-label-lg", for="email") }}
        <div class="col-sm-12">
          {{ form.email(size=80, class="form-control form-control-lg") }}
        </div>
          {{ form.password.label(class="col-sm-2 col-form-label col-form-label-lg", for="password") }}
        <div class="col-sm-12">
          {{ form.password(size=80, class="form-control form-control-lg") }}
        </div>
      </div>
      <div class="form-group row form-control-lg">
        <div class="col-sm-12">
          {{ form.submit(size=80, class="form-control form-control-lg") }}
        </div>
      </div>
    </form>
  </div>
{% endblock %}
