{% extends "base.html" %}
{% block head %}
  <link href="{{ url_for('static', filename='css/forms.css') }}" rel="stylesheet" type="text/css">
{% endblock head %}
{% block content %}
  <div class="container">
    <div class="col-sm-12">
    <h1 class="text-center form-signin-heading">Logger Sign In</h1>
    </div>
    <form action="" method="post" name="logger-login" class="form-signin">
      {{ form.csrf_token }}
      <div class="form-group row form-group-lg">
        {{ form.email.label(class_="col-form-label-lg sr-only", for="email") }}
        <div class="col-sm-12">
          {{ form.email(size=80, class_="form-control form-control-lg input-lg", placeholder="Email address") }}
        </div>
      </div>
      <div class="form-group row form-group-lg">
          {{ form.password.label(class_="col-form-label col-form-label-lg sr-only", for="password") }}
        <div class="col-sm-12">
          {{ form.password(size=80, class_="form-control form-control-lg input-lg", placeholder="Password") }}
        </div>
      </div>
      <div class="form-group row form-control-lg">
        <div class="col-sm-12">
          <button type="submit" id="submit-login" class="btn btn-lg btn-primary btn-block">LOGIN</button>
        </div>
      </div>
    </form>
  </div>
{% endblock %}
